<div class="velaAccountSidebar">
	<h1 class="velaAccountTitle">{{ 'customer.account.title' | t }}</h1>
	<div class="velaContent">
		<a class="velaLinkCancel" href="/account">{{ 'customer.account.return' | t }}</a>
		<div class="velaAccountList">
			<ul class="list-unstyled">
				<li><a href="/account">{{ 'customer.sidebar.account_info' | t }}</a></li>
				<li><a href="/account/addresses">{{ 'customer.sidebar.account_address' | t }}</a></li>
			</ul>
		</div>
	</div>
</div>