<div class="velaCartTop">
	<a href="/cart" class="jsDrawerOpenRight">
		<span class="pe-7s-cart"></span>
		<span class="cartitle"> {{ 'layout.cart.title' | t }}</span>
		<span id="CartCount">{{ cart.item_count }}</span>
		<span class="item">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
		<span id="CartCost">{{ cart.total_price | money }}</span>
	</a>
</div>