<div class="velaFooter">
	<h3 class="velaFooterTitle">{{ menuTitle }}</h3>
	<div class="velaContent">
		<ul class="velaFooterLinks list-unstyled">
			{% for velaLink in linklists[menuHandle].links %}
				<li class="{% if velaLink.active %}active{% endif %}">
					<a href="{{ velaLink.url }}" title="">{{ velaLink.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>