<section id="pageContent" class="section-history1">
    <div class="col-md-6 col-xs-12">
        <img class="section-image" src="{{ section.settings.image_left | img_url: 'master' }}">
    </div>

    <div class="col-md-6 col-xs-12 col-content">
        <div class="content-wrapper">
            {% if section.settings.title %}
                <h2 class="page-title">{{ section.settings.title }}</h2>
            {% endif %}
            <div class="page-content">
                {{ section.settings.content }}
            </div>
        </div>
    </div>

</section>

<style>
    section.section-history1{
        padding-top: 0px !important;
        position: relative;
    }

    section.section-history1 > .col-content{
        position: initial;
    }

    section.section-history1 .content-wrapper{
        padding: 0px 60px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    section.section-history1 .content-wrapper .page-title{
        font-size: 32px;
        margin-bottom: 30px;
        font-family: "Gotham-Medium";
        font-weight: 500;
    }

    section.section-history1 .content-wrapper .page-content{
        font-size: 14px;
        font-style: normal;
        font-family: "Gotham-Thin";
        font-weight: bold;
        line-height: 2.5;
    }

    section.section-history1 .content-wrapper .page-content strong{
        font-size: 14px;
        font-style: normal;
        text-transform: uppercase;
        font-family: "Gotham-Medium";
        font-weight: 100;
    }

    section.section-history1 .content-wrapper{
        padding-top: 0px;
    }
</style>

{% schema %}
{
    "name": "Section history",
    "class": "section-history1",
    "settings": [
        {
            "type": "image_picker",
            "id": "image_left",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content"
        }
    ]
}
{% endschema %}