{{ 'Gotham-fonts.css' | asset_url | stylesheet_tag }}
{{ 'vela-fonts.scss.css' | asset_url | stylesheet_tag }}
{{ 'vela-site.scss.css' | asset_url | stylesheet_tag }}
{{ 'custom.scss.css' | asset_url | stylesheet_tag }}

<section id="pageContent">
    <div class="container">
        {% section 'vela-template-cart' %}
    </div>
</section>{% render "product-personalizer-helper" ,item:item,pplr: "product-personalizer-script" %}

<style>

.cartContainer .cartTitle{
    font-family: "Gotham-Bold";
}

</style>