{% include 'breadcrumb' %}
<section id="pageContent">
    <div class="container">
        <div class="pageContainer">
            <h1 class="velaPageTitle">{{ page.title }}</h1>
            <div class="pageContent">
                <div class="rte">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>
</section>